<div class="container">
    <div class="row searchFilter" >
       <div class="col-sm-12" >
        <div class="input-group" >
         <input id="table_filter" name="table_filter" type="text" class="form-control" >
         <div class="input-group-btn" >
          <select name="filter" id="filter">
            <option value="all">Todos</option>
            <option value="clave">Clave catastral</option>
            <option value="ci">Número de cédula</option>
            <option value="name">Nombres y apellidos</option>
          </select>
          <button id="searchBtn" type="submit" class="btn btn-secondary btn-search" >Buscar</button>
        </div>
        </div>
       </div>
    </div>
</div>

