<div class="container mt-4" id="exit_edit_content" hidden>
    <!-- <div class="validacion_mensaje" id="validacion_mensaje">
        <p><i class="fa fa-exclamation-triangle"></i> <b>Error:</b> Por favor, rellena el formulario correctamente. </p>
    </div>
    <p class="validacion_mensaje-exito" id="validacion_mensaje-exito">Formulario enviado exitosamente!</p> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 p-2 fw-bold text-light d-flex justify-content-center">
                <button type="button" class="btn btn-secondary col-2" id="cancelEdit">Cancelar</button>
            </div>
            <div class="col-6 p-2 fw-bold text-light d-flex justify-content-center">
                <button type="submit" class="btn btn-success col-2">Guardar</button>
            </div>
        </div>
    </div>
</div>